/* цвет основного текста #757575 */
/* дополнительный цвет текста #212121 */
/* цвет текста белый #FFFFFF */
/* цвет текста логотипа #000000 */
/* акцент #2196F3 */
/* цвет ховера кнопок #188CE8 */
/* цвет ссылок в футере rgba(255, 255, 255, 0.6) */
/* основной цвет фона #FFFFFF */
/* цвет фона в футере #2F303A */
/* вторичный цвет фона #AFB1B8 */
/* цвет фона в секции деятельность rgba(47, 48, 58, 0.8) */
/* цвет фона в секции особенности #F5F4FA */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --heading-color: #212121;
  --accent: #2196f3;
}

/* Логотип */
.logo-accent {
  color: var(--accent);
}
.logo {
}
